
.vscode/sftp.json
HW17/HW17.php
HW17/login.php
HW17/sql.php
Project Phase 5/LookUp512/ContactUs.html
Project Phase 5/LookUp512/event.html
Project Phase 5/LookUp512/Events.html
Project Phase 5/LookUp512/events.js
Project Phase 5/LookUp512/History.html
Project Phase 5/LookUp512/index.html
Project Phase 5/LookUp512/index.js
Project Phase 5/LookUp512/LogIn.html
Project Phase 5/LookUp512/login.js
Project Phase 5/LookUp512/login.php
Project Phase 5/LookUp512/maps.js
Project Phase 5/LookUp512/Parks.html
Project Phase 5/LookUp512/register.html
Project Phase 5/LookUp512/register.js
Project Phase 5/LookUp512/register.php
Project Phase 5/LookUp512/Restaurants.html
Project Phase 5/LookUp512/sqlInfo.php
Project Phase 5/LookUp512/validate.js
Project Phase 5/LookUp512/verify.php
HW16/login.php
Project Phase 5/LookUp512/loginBackend.php
Project Phase 5/LookUp512/LookUp512.css
Project Phase 5/LookUp512/registerBackend.php
Project Phase 5/LookUp512/events.css
Project Phase 5/LookUp512/search.js
Project Phase 5/LookUp512/searchResults.html
Project Phase 5/LookUp512/newEventBackend.php
Project Phase 5/LookUp512/newEventBackend.js
Project Phase 5/LookUp512/newEvent.js
Project Phase 5/LookUp512/newEvent.html
Project Phase 5/LookUp512/mapsRestaurants.js
Project Phase 5/LookUp512/mapsParks.js
Project Phase 5/LookUp512/eventsBackend.php
Project Phase 5/LookUp512/restaurantsBackend.php
Project Phase 5/LookUp512/parksBackend.php
Project Phase 5/LookUp512/eventBackend.php
Final Project Phase 6/LookUp512/eventBackend.php
Final Project Phase 6/LookUp512/index.html
Final Project Phase 6/LookUp512/login.php
Final Project Phase 6/LookUp512/loginBackend.php
Final Project Phase 6/LookUp512/LookUp512.css
Final Project Phase 6/LookUp512/mapsParks.js
Final Project Phase 6/LookUp512/mapsRestaurants.js
Final Project Phase 6/LookUp512/newEvent.html
Final Project Phase 6/LookUp512/newEvent.js
Final Project Phase 6/LookUp512/newEventBackend.php
Final Project Phase 6/LookUp512/Parks.html
Final Project Phase 6/LookUp512/parksBackend.php
Final Project Phase 6/LookUp512/phpPagesCSS.php
Final Project Phase 6/LookUp512/register.html
Final Project Phase 6/LookUp512/registerBackend.php
Final Project Phase 6/LookUp512/restaurantsBackend.php
HW16/HW16CSS.php
HW16/HW16.php
