.container2{
	width: 80%;
	margin: auto;
	background: rgba(0,0,0,0.1);
}


.eventTitle{
	border-style: solid;
	width: max-content;
	margin: 1% auto;
	padding: 1%;
}
.container3 {
 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 200px;
  width: 80%;
  margin: auto;
}
h2{
	margin-top: 0px;
	text-align: center;
}

.columns {
	margin: auto;
  width: 70%;
  column-count: 2;
  column-gap: 0;
  flex: 1;
}

.item {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  border-style: solid;
  width: 100%;
  -webkit-column-break-inside: avoid;
  /* Chrome, Safari, Opera */
  page-break-inside: avoid;
  /* Firefox */
  break-inside: avoid;
  /* IE 10+ */
}
.eventLink{
	border-style: solid;
	width: max-content;
	margin: 1% auto;
	padding: 1%;

}
.higlight{
	margin-bottom: 5%;
}

.containerExpanded {
  height: 400px;

}
