body{
  background-color: black;
}
#title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color:white;
  height: 125px;
}
#title img{
  height: 150px;
}
.content{
  background-color: rgba(94, 70, 59, 1);
  width:50%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}
html, body {
  height: 100%;
}
li{
	display: inline;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
}
li a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #111;
}
#loginSearch{
	float: right;
}
#logoContainer{
	float: left;
  color: white;
  padding-right: 10px;
}
#title{
	font-size: 24px;
	text-align: center;
}
#contact {
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  border: 1px solid black;
}
#contact td {
  border: 1px solid black;
}
#carousel{
	text-align: center;
}
#caro-img{
	margin-left: right;
	width: 50em;
	height: 25em;
}
.events{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px;
  width: 80%;
  border: 3px solid black;
}
#about {
  text-align: center;
}
#map{
  width: 80%;
  height: 65%;
  margin: 10px auto 10px auto;
  border: 3px solid black;
}
#sectionList{
  width: 80%;
}
#section{
  width: 70%;
  float: left;
}
#sectionInfoTitle{
  font-weight: bold;
}
#sectionImage{
  height: 225px;
  float: right;
}
#sectionName{
  font-size: 24pt;
  font-weight: bold;
}
.eventHeader {
  text-align: center;
}
.eventImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.butts {
 
}

#eventForm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  width: 50%;
  border: 3px solid black;
  background-color: rgba(94, 70, 59, 1);
}

#eventForm table {
  margin: auto;
}

#eventForm table tr td input {
  padding-top: 0px;
  margin-top: 0px;
}

#eventForm table tr td h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#eventForm table tr td h3 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#registerForm{
  background-color: rgba(94, 70, 59, 1);
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#signature p{
  background-color: rgba(94, 70, 59, 1);
}
