li{
	display: inline;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
}
li a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #111;
}
#loginSearch{
	float: right;
}
#logoContainer{
	float: left;
	color: white;
}
#title{
	font-size: 24px;
	text-align: center;
}
#contact {
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  border: 1px solid black;
}
#contact td {
  border: 1px solid black;
}
#carousel{
	text-align: center;
}
#caro-img{
	margin-left: right;
	width: 400px;
	height: 600px;
}
.events{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
  border: 3px solid black;
}
#about {
  text-align: center;
}
#map{
  width: 500px;
  height: 500px;
  border: 3px solid black;
}

.eventHeader {
  text-align: center;
}

.eventImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

