html, body {
  height: 100%;
}
li{
	display: inline;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
}
li a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #111;
}
#loginSearch{
	float: right;
}
#logoContainer{
	float: left;
	color: white;
}
#title{
	font-size: 24px;
	text-align: center;
}
#contact {
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  border: 1px solid black;
}
#contact td {
  border: 1px solid black;
}
#carousel{
	text-align: center;
}
#caro-img{
	margin-left: right;
	width: 400px;
	height: 600px;
}
.events{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 5px;
  width: 50%;
  border: 3px solid black;
}
#about {
  text-align: center;
}
#map{
  width: 80%;
  height: 65%;
  margin: 10px auto 10px auto;
  border: 3px solid black;
}
#sectionList{
  width: 80%;
}
#section{
  width: 70%;
  float: left;
}
#sectionInfoTitle{
  font-weight: bold;
}
#sectionImage{
  width: 30%;
  height: 225px;
  float: right;
}
#sectionName{
  font-size: 24pt;
  font-weight: bold;
}

.eventHeader {
  text-align: center;
}

.eventImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#login {
  
}
